*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color:rgb(254, 242, 224);
    box-shadow: 0 5px 15px black;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
  }
  #navbar li a:hover,
  #navbar li a.active{
    color: rgba(255, 0, 0, 0.549);
  }
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgba(255, 0, 0, 0.549);
    position: absolute;
    bottom: -4px;
    left: 20px;
  }

  body{
    width: 100%;
  }

  html,body{
    height: 100%;
    color: rgb(0, 0, 0);
  }
  .wrapper{
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  @media (max-width:767px){
    .wrapper{padding: 50px 10px;}
  }
  
  /* Основные стили */
  
  /* Слайдер */
  .slick-slider{
    min-width: 0;
  }
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track{
    display: flex;
    align-items: flex-start;
  }
  
  /* Слайд */
  .slick-slide{}
  /* Слайд активный */
  .slick-slide.slick-active{}
  /* Слайд основной */
  .slick-slide.slick-current{}
  /* Слайд по центру */
  .slick-slide.slick-center{}
  
  /* Стрелка */
  .slick-arrow{}
  /* Стрелка влево */
  .slick-arrow.slick-prev{}
  /* Стрелка вправо */
  .slick-arrow.slick-next{}
  /* Стрелка не активная */
  .slick-arrow.slick-disabled{}
  
  /* Точки */
  .slick-dots{}
  .slick-dots li{}
  .slick-dots button{}
  
  /* Конкретный слайдер */
  .slider {
    position: relative;
    padding: 0px 60px;
  }
  
  @media (max-width:767px){
    .slider {
      padding: 0px 40px;
    }
  }
  
  .slider .slick-arrow{
    position: absolute;
    top: 50%;
    /* margin: -30px 0px 0px 0px; */
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
  }
  .slider .slick-arrow.slick-prev{
    left: 0;
    background: url('../img/arrow-small-left.png') 0 0 / 100% no-repeat;
    border: none;
  }
  .slider .slick-arrow.slick-next{
    right: 0;
    background: url('../img/arrow-small-right.png') 0 0 / 100% no-repeat;
    border: none;
  }
  .slider .slick-arrow.slick-disabled{
    opacity: 0.2;
  }
  
  .slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider .slick-dots li{
    list-style: none;
    margin: 0px 10px;
  }
  .slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
  }
  
  .slider .slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .slider__item {
    padding: 0px 15px;
  }
  .slider__item img{
    max-width: 100%;
  }
  .slider__item.slick-center{
    
  }
  
  

  .section-p1{
    padding: 40px 80px;
  }


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo1{
    margin-bottom: 30px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  
  }
  footer p{
    font-size: 13px;
    margin:0 0 8px 0
    }
  
    footer a{
      font-size: 13px;
      text-decoration: none;
      color: #222;
      margin-bottom: 10px;
      
    }
    footer .install .row img{
      border: 1px solid #088178;
      border-radius: 6px;
    }